{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
        @media (min-width: 1200px) {
            .container{
                max-width: 1800px;
            }
        }
</style>
{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<p> {{ commande }}</p>
<!--
    <div id="div_piechart"></div>
    <div id="div_histogram"></div>
-->

<form action="" method="POST">
    <div id="div_linechart"></div>
    <input type="text" name="dateMin" value="{{ dateMin }}" />
    <input type="text" name="dateMax" value="{{ dateMax }}" />
    <input type="submit" name="previous" value="<<" />
    <input type="submit" name="after" value=">>" />
    <input type="submit" name="now" value="Now" />
</form>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw([linechart], ['div_linechart']) }}
</script>
{% endblock %}