{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum voluptate iure vitae, deleniti quo nisi nihil a eveniet, atque est aspernatur beatae nemo rem impedit expedita architecto, inventore consequuntur! </p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum voluptate iure vitae, deleniti quo nisi nihil a eveniet, atque est aspernatur beatae nemo rem impedit expedita architecto, inventore consequuntur! </p>
{% endblock %}